.rosa {
    color: deeppink;
}
.centro {
    display: block;
    text-align:  center;
}
.centro {
    display: block;
    margin: auto;
}
p{
    color: blueviolet;
}
#algo-escrito{
    font-weight: bold;
}